@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-fonte-principal: rgb(250, 250, 250);
    --cor-fonte-secundaria: rgba(163, 163, 163, 1);
    --tipo-fonte-principal: 'Montserrat';
    --cor-botao-laranja: rgba(255, 176, 80, 1);
    --cor-botao-azul: rgba(72, 148, 255, 1);
    --cor-de-fundo: rgb(37, 37, 37);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--tipo-fonte-principal);
    background-color: var(--cor-de-fundo);
    font-size: 0.9em;
    color: var(--cor-fonte-secundaria);
}


/* CABECALHO */
.cabecalho {
    display: flex;
    align-items: center;
    margin: 5em 2em;
    gap: 16px;
}

.cabecalho__img {
    width: 5em;
    border-radius: 50%;
}

.cabecalho__titulo {
    font-weight: 700;
    color: var(--cor-fonte-principal);
}


/* RODAPE */

.container__rodape {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.rodape {
    background-color: rgb(110, 107, 107);
    padding: 0.5em;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 30px;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    gap: 52px;

    font-size: 1em;
}

.rodape__lista__item__link {
    text-decoration: none;
    color: var(--cor-fonte-secundaria);
}

/* CARDS */

.consultas {
    margin: 8em 2em;
    
}

.consulta__card {
    width: 400px;
    padding: 18px;
    border-radius: 12px;
    border: 1px solid rgb(110, 107, 107);
    margin-bottom: 2em;
}

.consulta__img__perfil {
    width: 4em;
    border-radius: 50%;
}

.consulta__card__paciente {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 2em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(110, 107, 107);
    
}

.lista__cards * {
    list-style-type: none;
}

.data {
    margin: 1em;

}

/* MOBILE */
@media (max-width: 767px) {

    .consultas {
        margin: 5em 0em 8em 1.5em;
        
    }

    .cabecalho {
        display: flex;
        align-items: center;
        margin: 2em 2em 2em 2em;
        gap: 16px;
    }

    .data {
        margin: 1em 0em 1em 0em;
    
    }
}

/* TABLET */
@media (min-width: 768px) {
    .lista__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }

    .consulta__card {
        margin: 1em;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {

    .cabecalho {
        gap: 32px;
    }

    .cabecalho__img {
        width: 10em;
        border-radius: 50%;
    }
    
    .titulo__principal {
        font-weight: 700;
        color: var(--cor-fonte-principal);
        font-size: 3em;
    }


}


/* BOTÕES */
.btn__video {
    background-color: var(--cor-botao-laranja);
    color: var(--cor-fonte-principal);
    padding: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    font-family: var(--tipo-fonte-principal);
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.btn__audio {
    background-color: rgb(110, 107, 107);
    color: var(--cor-fonte-principal);
    padding: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    font-family: var(--tipo-fonte-principal);
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.btn__endereco {
    background-color: var(--cor-botao-azul);
    color: var(--cor-fonte-principal);
    padding: 18px;
    border-radius: 8px;
    border: none;
    width: 100%;
    cursor: pointer;

    font-family: var(--tipo-fonte-principal);
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.container__botoes {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 1em;

}

.btn__flutuante {
    position: fixed;
    bottom: 82px;
    right: 17px;
    z-index: 10;
    background-color: var(--cor-botao-azul);
    color: var(--cor-fonte-principal);
    border: none;
    border-radius: 50%;
    padding: 16px;
    cursor: pointer;

    font-size: 2em;
}